body {
  margin: 0;
  background-size:cover;
  background-image: url('./src/assets/img/bg.jpg');
  background-position:center;
}

.navbar {
  width: 100%;
  height: 5%;
}

.navbar-container {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

.navbar-container>.list>ul {
  display: none;
}

.title>h1,h2 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: rgb(68, 49, 43);
  letter-spacing: .3rem;
  text-shadow: 2px 2px 3px rgb(191, 150, 125);
}

.title>h2 {
  font-weight:normal;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 30%  ;
  padding: 20px ;
  border: 1px solid rgb(71, 50, 34);
  border-radius: 5px;

}

.burger-menu {
  width: 100px;
  height: 10px;
  margin: 15px;
  background-color:  rgb(68, 49, 43);
  border-radius: 4px;
}

.footer-items>ul>li {
  display: flex;
  justify-content: center;
  list-style: none;
  color:  rgb(68, 49, 43);
  font-size: larger;
  font-weight: bolder;
}

.footer-items>ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-items {
  background-color: rgba(94, 79, 61, 0.502);
  bottom:0%;
  position:absolute;
  width: 100%;
}


/**************** TABLE / PC **********************/

@media(min-width: 800px) {

.navbar-container {
  margin: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-container>img {
  width: 140px;
  position: sticky;
}

.navbar-container>.list>ul {
  display:flex;
  justify-content: space-between;
  list-style: none;
}

.navbar-container>.list>ul>li {
padding: 0 20px;
}

.navbar-container>.list>ul>li>a{
  display: flex;
  justify-content: space-between;
  color: rgb(68, 49, 43);
  text-shadow: 2px 2px 3px rgb(191, 150, 125);
  font-size: 22px;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.navbar-container>.list>ul>li>a:hover {
  color: beige;
  text-shadow: 2px 2px 3px rgb(68, 49, 43);;
  letter-spacing: .3em ;
  text-decoration: underline;
  transition: 0.3s;
}

.menu {
  display: none;
}


.title>h1{
  font-size: 50px;
  letter-spacing: .5rem;

}

.title>h2 {
  font-size: 30px;
  letter-spacing: .4rem;
}

.title {
  margin-top: 200px;

}

}
